
# Algolia keys can be removed if not needed
NEXT_PUBLIC_ALGOLIA_ID=
NEXT_PUBLIC_ALGOLIA_KEY=
NEXT_PUBLIC_ALGOLIA_INDEX=


# This s hould be set to 'production' only on the production site
NEXT_PUBLIC_STAGE=development

# These are testing purposes only. DO NOT ADD IN PRODUCTION
NEXT_PUBLIC_NAME=Test
NEXT_PUBLIC_EMAIL=test@gmail.com
NEXT_PUBLIC_PHONE=0700000000
NEXT_PUBLIC_MESSAGE='Test message'


NEXT_PUBLIC_CLOUDFLARE_SITE_KEY=1x00000000000000000000AA
CLOUDFLARE_SECRET_KEY=1x0000000000000000000000000000000AA
NEXT_PUBLIC_SITE_URL="http://localhost:1204"