.ais-SearchBox-form {
  height: 50px !important;
  background: transparent !important;
}

.ais-SearchBox-input {
  box-shadow: none !important;
  height: 50px !important;
  line-height: 50px !important;
  border-radius: 12px !important;
  border-color: #ddd !important;
}

.ais-Hits-item {
  text-align: left !important;

  &:first-of-type {
    border-radius: 12px 12px 0 0 !important;
  }

  &:last-of-type {
    border-radius: 0 0 12px 12px !important;
  }
}

.intercom-lightweight-app-launcher {
  bottom: 65px !important;
}

@media (min-width: 768px) {
  .intercom-lightweight-app-launcher {
    bottom: 23px !important;
  }
}
